.no-margin-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.bread-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.breadcrumb {
    width: 100%;
    font-size: 0.7em;
    background-color: unset;
    border-radius: 0em;
    margin-bottom: 0px;
    padding: .75rem 0rem;
    line-height: 0.8;
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-bg-color {
    background-color: #2c2c2c;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    content: ">";
}