footer {
    font-family: 'Roboto', sans-serif;
    color: #3c3c3b;
}



.footer-bg {
    font-size: 0.8em;
    background-color: #e9e9e9;
}

.copy-size {
    text-align: center;
    font-size: 10px;
}


@media only screen and (max-width: 769px) {
    .footer-center {
        text-align: center !important;
    }
}
@media only screen and (max-width: 769px) {
    .f-p-top-30 {
        padding-top: 30px !important;
    }
    .footer-top {
        padding-top: 30px !important;
    }
}

@media only screen and (max-width: 769px) {
    .footer-alt {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width: 769px) {
    .mt-3 {
        margin-top: 0px !important;
    }
}

.footer-s-link{
    color: #495057;
}

.footer-s-link:hover{
    color: #A92A28;
    text-decoration: none;
}