h1 {
    font-size: 3.2em;
    font-weight: 900;
    color: #3c3c3b;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.4em
}

p {
    font-size: 1em;
}

@media only screen and (max-width: 560px) {
    body {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 575px) {
    h1 {
        font-size: 2.5em !important;
    }
}
.btn-font-size {
    font-size: 0.6em;
}